org.bpelunit.toolsupport/testSchemata/defineComplexElements1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://schematest.bpelunit.org"
			xmlns="http://schematest.bpelunit.org"
			elementFormDefault="qualified">
	
	<xs:element name="employee">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="firstname" type="xs:string"/>
				<xs:element name="lastname" type="xs:string"/>
				<xs:element name="address" type="AddressType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="zip" type="xs:string"/>
			<xs:element name="city" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>