net.bpelunit.framework.control.deploy.activevos9/src/test/resources/com.innoq.simplebpel/wsdl/echo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.innoq.com/echo"
	xmlns:tns="http://www.innoq.com/echo" elementFormDefault="qualified">
	<element name="echo">
		<complexType>
			<sequence>
				<element name="in" type="string" />
			</sequence>
		</complexType>
	</element>
	<element name="echoResponse">
		<complexType>
			<sequence>
				<element name="out" type="string" />
			</sequence>
		</complexType>
	</element>
</schema>