net.bpelunit.framework.control.deploy.activevos9/src/main/resources/EngineAPITypes.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://schemas.active-endpoints.com/engineapi/2010/05/EngineAPITypes.xsd"
            elementFormDefault="qualified"
            targetNamespace="http://schemas.active-endpoints.com/engineapi/2010/05/EngineAPITypes.xsd">
  
   <xsd:complexType name="AesApiVersion">
      <xsd:annotation>
         <xsd:documentation>Identifies the API version (major.minor)</xsd:documentation>
         </xsd:annotation>   
      <xsd:simpleContent>
         <xsd:extension base="xsd:string">
            <xsd:attribute name="major" type="xsd:nonNegativeInteger"/>
            <xsd:attribute name="minor" type="xsd:nonNegativeInteger"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   
   <xsd:complexType name="AesXmlContent">
      <xsd:annotation>
         <xsd:documentation>Data type for holder of valid xml payload</xsd:documentation>
      </xsd:annotation>   
      <xsd:sequence>
          <xsd:any minOccurs="0" namespace="##any" processContents="skip"/>
      </xsd:sequence>
      <xsd:anyAttribute namespace="##other" processContents="skip"/>
   </xsd:complexType>      
   
   <xsd:simpleType name="AesContributionState">
        <xsd:annotation>
           <xsd:documentation>These are the valid states that a contribution can be in after deployment.
           Only 'Offline' and 'Faulted' states are valid to be deleted.
           </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
         <xsd:enumeration value="Online"/>
         <xsd:enumeration value="Offline Pending"/>
         <xsd:enumeration value="Offline"/>
      </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="AesCatalogState">
      <xsd:annotation>
         <xsd:documentation>Catalog entries can either be the Online entry or Offline.</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="Online"/>
         <xsd:enumeration value="Offline"/>
      </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="AesPlanState">
      <xsd:annotation>
         <xsd:documentation>This enumeration describes the possible values for a deployment plan's status.</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="Online Pending"/>
         <xsd:enumeration value="Online"/>
         <xsd:enumeration value="Offline Pending"/>
         <xsd:enumeration value="Offline"/>
         <xsd:enumeration value="Invalid"/>
      </xsd:restriction>
    </xsd:simpleType>
        
    <xsd:simpleType name="AesPersistenceType">
      <xsd:annotation>
         <xsd:documentation>This enumeration describes the possible values for a plan's persistence type.</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="NONE"/>
         <xsd:enumeration value="BRIEF"/>
         <xsd:enumeration value="FINAL"/>
         <xsd:enumeration value="PERSIST"/>
         <xsd:enumeration value="FULL"/>
      </xsd:restriction>
    </xsd:simpleType>
        
    <xsd:complexType name="AesListingFilter">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="listStart" type="xsd:int"/>
         <xsd:element minOccurs="0" name="maxReturn" type="xsd:int"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="AesListingResult">
      <xsd:sequence>
         <xsd:element name="totalRowCount" type="xsd:int"/>
         <xsd:element name="completeRowCount" type="xsd:boolean"/>
         <xsd:element name="schedulerInitialized" type="xsd:boolean"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="AesAdminFault">
      <xsd:sequence>
         <xsd:element name="info" type="xsd:string"/>
         <xsd:element name="details" type="xsd:string"/>
         <xsd:element name="cause" type="xsd:anyType"/>
         <xsd:element name="message" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="AesDateRange">
      <xsd:annotation>
         <xsd:documentation>
         This type is used to specifiy a date range. 
         </xsd:documentation>
      </xsd:annotation>   
      <xsd:choice>
         <xsd:element name="on" type="xsd:date"/>
         <xsd:element name="between">
            <xsd:complexType>
               <!--  fromDate is inclusive -->
               <xsd:attribute name="fromDate" type="xsd:dateTime" use="required"/>
               <!--  toDate is exclusive -->
               <xsd:attribute name="toDate" type="xsd:dateTime" use="required"/>
            </xsd:complexType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>  
      
   <xsd:complexType name="AesVoidType"/>
     
   <!-- JSON friendly data type for xsd:QName -->
   <xsd:complexType name="AesQualifiedName">
      <xsd:simpleContent>
         <xsd:extension base="xsd:NCName">
            <xsd:attribute name="namespace" type="xsd:anyURI"/>
         </xsd:extension>
      </xsd:simpleContent>         
   </xsd:complexType>
      
   <xsd:complexType name="AesSCAManifest">
      <xsd:sequence>
         <xsd:any minOccurs="0" processContents="lax"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="AesDeployedPlan">
      <xsd:sequence>
         <xsd:element name="id" type="xsd:int"/>
         <xsd:element name="name" type="xsd:QName"/>
         <xsd:element minOccurs="0" name="processGroup" type="xsd:string"/>
         <xsd:element minOccurs="0" name="tenantContextId" type="xsd:string"/>
         <xsd:element name="version" type="xsd:float"/>
         <xsd:element name="state" type="tns:AesPlanState"/>
         <xsd:element name="processRetentionSeconds" type="xsd:int"/>
         <xsd:element name="persistenceType" type="tns:AesPersistenceType"/>
         <xsd:element name="expirationDate" type="xsd:dateTime"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="AesCatalogEntry">
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string"/>
         <xsd:element name="location" type="xsd:anyURI"/>
         <xsd:element name="version" type="xsd:string"/>
         <xsd:element minOccurs="0" name="namespace" type="xsd:anyURI"/>
         <xsd:element minOccurs="0" name="description" type="xsd:string"/>
         <xsd:element minOccurs="0" name="processGroup" type="xsd:string"/>
         <xsd:element minOccurs="0" name="tenantContextId" type="xsd:string"/>
         <xsd:element name="state" type="tns:AesCatalogState"/>
         <xsd:element name="typeUri" type="xsd:anyURI"/>
         <xsd:element name="contentType" type="xsd:string"/>
         <xsd:element name="lastModified" type="xsd:dateTime"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="AesNamespaceImport">
      <xsd:sequence>
         <xsd:element name="namespace" type="xsd:anyURI"/>
         <xsd:element minOccurs="0" name="location" type="xsd:anyURI"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="AesNamespaceExport">
      <xsd:sequence>
         <xsd:element name="namespace" type="xsd:anyURI"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="AesNamespaceImports">
      <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="import" type="tns:AesNamespaceImport"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="AesNamespaceExports">
      <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="export" type="tns:AesNamespaceExport"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="AesCatalogEntries">
      <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="entry" type="tns:AesCatalogEntry"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="AesPlans">
      <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="plan" type="tns:AesDeployedPlan"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="AesContribution">
      <xsd:sequence>
         <xsd:element name="id" type="xsd:int"/>
         <xsd:element name="baseUri" type="xsd:anyURI"/>
         <xsd:element name="version" type="xsd:string"/>
         <xsd:element name="description" type="xsd:string"/>
         <xsd:element name="processGroup" type="xsd:string"/>
         <xsd:element minOccurs="0" name="tenantContextId" type="xsd:string"/>
         <xsd:element name="state" type="tns:AesContributionState"/>
         <xsd:element name="manifest" type="tns:AesSCAManifest"/>
         <xsd:element name="deploymentDate" type="xsd:dateTime"/>
         <xsd:element name="lastModified" type="xsd:dateTime"/>
         <xsd:element minOccurs="0" name="deployerId" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="AesContributionDetail">
      <xsd:complexContent>
         <xsd:extension base="tns:AesContribution">
            <xsd:sequence>
               <xsd:element name="plans" type="tns:AesPlans"/>
               <xsd:element name="catalogEntries" type="tns:AesCatalogEntries"/>
               <xsd:element name="namespaceImports" type="tns:AesNamespaceImports"/>
               <xsd:element name="namespaceExports" type="tns:AesNamespaceExports"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   
   <xsd:complexType name="AesContributionListResult">
      <xsd:complexContent>
         <xsd:extension base="tns:AesListingResult">
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="contributionItem"
                            type="tns:AesContribution"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   
   <xsd:complexType name="AesContributionSearchFilter">
      <xsd:complexContent>
         <xsd:extension base="tns:AesListingFilter">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="contributionURI" type="xsd:anyURI"/>
               <xsd:element minOccurs="0" name="contributionState" type="tns:AesContributionState"/>
               <xsd:element minOccurs="0" name="contributionVersion" type="xsd:string"/>
               <xsd:element minOccurs="0" name="deployerId" type="xsd:string"/>
               <xsd:element minOccurs="0" name="processGroup" type="xsd:string"/>
               <xsd:element minOccurs="0" name="tenantContextId" type="xsd:string"/>
               <xsd:element minOccurs="0" name="includePublic" type="xsd:boolean"/>
               <xsd:element minOccurs="0" name="hideSystem" type="xsd:boolean"/>
               <xsd:element minOccurs="0" name="startDate" type="xsd:dateTime"/>
               <xsd:element minOccurs="0" name="endDate" type="xsd:dateTime"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   
   <xsd:complexType name="AesURNMapping">
      <xsd:sequence>
         <xsd:element name="tenantContextId" type="xsd:string"/>
         <xsd:element name="URN" type="xsd:string"/>
         <xsd:element name="URL" type="xsd:anyURI"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="AesURNListResult">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="URNMapping" type="tns:AesURNMapping"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="AesCatalogSearchFilter">
      <xsd:complexContent>
         <xsd:extension base="tns:AesListingFilter">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="name" type="xsd:string"/>
               <xsd:element minOccurs="0" name="state" type="tns:AesCatalogState"/>
               <xsd:element minOccurs="0" name="version" type="xsd:string"/>
               <xsd:element minOccurs="0" name="namespace" type="xsd:string"/>
               <xsd:element minOccurs="0" name="typeUri" type="xsd:anyURI"/>
               <xsd:element minOccurs="0" name="processGroup" type="xsd:string"/>
               <xsd:element minOccurs="0" name="tenantContextId" type="xsd:string"/>
               <xsd:element minOccurs="0" name="hideSystem" type="xsd:boolean"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   
   <xsd:complexType name="AesCatalogDetail">
      <xsd:complexContent>
         <xsd:extension base="tns:AesCatalogEntry">
            <xsd:sequence>
               <xsd:element name="content" type="xsd:base64Binary"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   
   <xsd:complexType name="AesCatalogListResult">
      <xsd:complexContent>
         <xsd:extension base="tns:AesListingResult">
            <xsd:sequence>
                <xsd:element name="catalogEntries" type="tns:AesCatalogEntries"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   
   <xsd:simpleType name="AesScheduleRunOptions">
      <xsd:annotation>
         <xsd:documentation>This enumeration describes the possible options for a scheduled item executed by the scheduler.</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="SKIP"/>
         <xsd:enumeration value="TERMINATE"/>
         <xsd:enumeration value="CREATE"/>
      </xsd:restriction>
   </xsd:simpleType>
   
   <xsd:simpleType name="AesScheduleInterval">
      <xsd:annotation>
         <xsd:documentation>This enumeration describes the possible interval for a scheduled item executed intraday by the scheduler.</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="HOURS"/>
         <xsd:enumeration value="MINUTES"/>
         <xsd:enumeration value="SECONDS"/>
      </xsd:restriction>
   </xsd:simpleType>
   
   <xsd:simpleType name="AesScheduleOptions">
      <xsd:annotation>
         <xsd:documentation>This enumeration describes the possible options for a scheduled item executed daily by the scheduler.</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="EVERY_DAY"/>
         <xsd:enumeration value="EVERY_WEEKDAY"/>
         <xsd:enumeration value="USER_DEFINED_DAYS"/>
      </xsd:restriction>
   </xsd:simpleType>
   
   <xsd:simpleType name="AesScheduleWeekType">
      <xsd:annotation>
         <xsd:documentation>This enumeration week types used by the scheduler.</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="FIRST"/>
         <xsd:enumeration value="SECOND"/>
         <xsd:enumeration value="THIRD"/>
         <xsd:enumeration value="FOURTH"/>
         <xsd:enumeration value="LAST"/>
      </xsd:restriction>
   </xsd:simpleType>
   
   <xsd:simpleType name="AesScheduleWeekdays">
      <xsd:annotation>
         <xsd:documentation>This enumeration describes the days of the week used by the scheduler.</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="SUNDAY"/>
         <xsd:enumeration value="MONDAY"/>
         <xsd:enumeration value="TUESDAY"/>
         <xsd:enumeration value="WEDNESDAY"/>
         <xsd:enumeration value="THURSDAY"/>
         <xsd:enumeration value="FRIDAY"/>
         <xsd:enumeration value="SATURDAY"/>
      </xsd:restriction>
   </xsd:simpleType>
   
   <xsd:simpleType name="AesScheduleMonths">
      <xsd:annotation>
         <xsd:documentation>This enumeration describes the months of the year used by the scheduler.</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="JANUARY"/>
         <xsd:enumeration value="FEBRUARY"/>
         <xsd:enumeration value="MARCH"/>
         <xsd:enumeration value="APRIL"/>
         <xsd:enumeration value="MAY"/>
         <xsd:enumeration value="JUNE"/>
         <xsd:enumeration value="JULY"/>
         <xsd:enumeration value="AUGUST"/>
         <xsd:enumeration value="SEPTEMBER"/>
         <xsd:enumeration value="OCTOBER"/>
         <xsd:enumeration value="NOVEMBER"/>
         <xsd:enumeration value="DECEMBER"/>
      </xsd:restriction>
   </xsd:simpleType>
    
   <xsd:complexType name="AesOnceSchedule">
      <xsd:sequence>
         <xsd:element name="executionDateTime" type="xsd:dateTime"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="AesIntradaySchedule">
      <xsd:sequence>
         <xsd:element name="executeEvery">
            <xsd:complexType>
      		       <xsd:sequence>
                  <xsd:element name="value" type="xsd:int"/>
                  <xsd:element name="interval" type="tns:AesScheduleInterval"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="onlyBetween">
         	  <xsd:complexType>
		             <xsd:sequence>
		                <xsd:element name="betweenStart" type="xsd:time"/>
		                <xsd:element name="betweenEnd" type="xsd:time"/>
		             </xsd:sequence>
		          </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="AesDailySchedule">
      <xsd:sequence>
         <xsd:element name="startTime" type="xsd:time"/>
         <xsd:element name="scheduleOptions">
            <xsd:complexType>
               <xsd:sequence>
	                 <xsd:element name="scheduleOptions" type="tns:AesScheduleOptions"/>
	                 <xsd:element minOccurs="0" name="days" type="xsd:int"/>
	              </xsd:sequence>
            </xsd:complexType>
      	 </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="AesWeeklySchedule">
      <xsd:sequence>
         <xsd:element name="startTime" type="xsd:time"/>
         <xsd:element name="everyWeeks" type="xsd:int"/>
         <xsd:element maxOccurs="7" minOccurs="0" name="dayOfWeek" type="tns:AesScheduleWeekdays"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="AesMonthlySchedule">
      <xsd:sequence>
         <xsd:element name="startTime" type="xsd:time"/>
         <xsd:choice>
         	  <xsd:element name="dayOfMonth" type="xsd:int"/>
         	  <xsd:element name="scheduleOptions">
	              <xsd:complexType>
	                 <xsd:sequence>
		                   <xsd:element name="week" type="tns:AesScheduleWeekType"/>
		                   <xsd:element name="dayOfWeek" type="tns:AesScheduleWeekdays"/>
		                </xsd:sequence>
	              </xsd:complexType>
	      	    </xsd:element>
         </xsd:choice>
         <xsd:element maxOccurs="12" minOccurs="0" name="month" type="tns:AesScheduleMonths"/>
      </xsd:sequence>
   </xsd:complexType>
    
   <xsd:complexType name="AesScheduledItem">
      <xsd:sequence>
         <xsd:element name="tenantContextId" type="xsd:string"/>
         <xsd:element name="name" type="xsd:string"/>
         <xsd:choice>
         	  <xsd:element name="once" type="tns:AesOnceSchedule"/>
         	  <xsd:element name="intraday" type="tns:AesIntradaySchedule"/>
         	  <xsd:element name="daily" type="tns:AesDailySchedule"/>
         	  <xsd:element name="weekly" type="tns:AesWeeklySchedule"/>
         	  <xsd:element name="monthly" type="tns:AesMonthlySchedule"/>
         </xsd:choice>
         <xsd:element name="runOptions" type="tns:AesScheduleRunOptions"/>
         <xsd:element name="serviceName" type="xsd:string"/>
         <xsd:element minOccurs="0" name="inputDocument" type="tns:AesXmlContent"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="AesPersistedScheduledItem">
      <xsd:complexContent>
         <xsd:extension base="tns:AesScheduledItem">
            <xsd:sequence>
               <xsd:element name="scheduleId" type="xsd:long"/>
               <xsd:element name="enabled" type="xsd:boolean"/>
               <xsd:element minOccurs="0" name="lastProcessId" type="xsd:long"/>
               <xsd:element minOccurs="0" name="lastExecution" type="xsd:dateTime"/>
               <xsd:element minOccurs="0" name="nextExecution" type="xsd:dateTime"/>
               <xsd:element minOccurs="0" name="planId" type="xsd:int"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   
   <xsd:complexType name="AesScheduledItemListResult">
      <xsd:complexContent>
         <xsd:extension base="tns:AesListingResult">
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="scheduledItems"
                            type="tns:AesPersistedScheduledItem"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   
</xsd:schema>
