tycho/net.bpelunit.toolsupport/testSchemata/complexEmptyElements.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://schematest.bpelunit.org"
	xmlns="http://schematest.bpelunit.org" elementFormDefault="qualified">
	
	<xs:element name="product" type="ProductType"/>
	
	<xs:complexType name="ProductType">
		<xs:attribute name="productId" type="xs:positiveInteger"/>
	</xs:complexType>
	
</xs:schema>