tycho/net.bpelunit.toolsupport/testSchemata/OrderProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdl1="http://behemoth.service.suppliersguild.org"
                  xmlns:ns2="http://carl.volhard.de/soa08/uebung5/SupplyManagement"
                  xmlns:ns1="http://behemoth.service.suppliersguild.org"
                  xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:tns="http://soa08.se.uni-hannover.de/uebung09"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:ns0="http://common.types.suppliersguild.org/xsd"
                  xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://soa08.se.uni-hannover.de/uebung09" xmlns:p="http://www.w3.org/2001/XMLSchema">
   <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
              xmlns:wsdl="http://carl.volhard.de/soa08/uebung5/SupplyManagement"
              attributeFormDefault="unqualified"
              elementFormDefault="qualified"
              targetNamespace="http://soa08.se.uni-hannover.de/uebung09">
         <xs:element name="orderProductResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="result" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 xmlns:ns="http://behemoth.service.suppliersguild.org"
                 xmlns:ax21="http://common.types.suppliersguild.org/xsd"
                 xmlns:ns1="http://org.apache.axis2/xsd"
                 attributeFormDefault="qualified"
                 elementFormDefault="qualified"
                 targetNamespace="http://common.types.suppliersguild.org/xsd">
         <xs:complexType name="Product">
            <xs:sequence>
               <xs:element minOccurs="0" name="productId" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="vendor" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Amount">
            <xs:sequence>
               <xs:element minOccurs="0" name="amount" type="xs:int"/>
               <xs:element minOccurs="0" name="unit" nillable="true" type="ns0:Unit"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Unit">
            <xs:sequence>
               <xs:element minOccurs="0" name="kind" type="xs:int"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Money">
            <xs:sequence>
               <xs:element minOccurs="0" name="amount" type="xs:int"/>
               <xs:element minOccurs="0" name="currency" nillable="true" type="ns0:Currency"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Currency">
            <xs:sequence>
               <xs:element minOccurs="0" name="rate" type="xs:double"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 xmlns:ns="http://behemoth.service.suppliersguild.org"
                 xmlns:ax21="http://common.types.suppliersguild.org/xsd"
                 xmlns:ax22="http://common.types.suppliersguild.org/xsd"
                 xmlns:ns1="http://org.apache.axis2/xsd"
                 attributeFormDefault="qualified"
                 elementFormDefault="qualified"
                 targetNamespace="http://behemoth.service.suppliersguild.org">
         <xs:import namespace="http://common.types.suppliersguild.org/xsd"/>
         <xs:element name="orderProduct">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="product" nillable="true" type="ns0:Product"/>
                  <xs:element minOccurs="0" name="amount" nillable="true" type="ns0:Amount"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="orderProductResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getPriceForProduct">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="product" nillable="true" type="ns0:Product"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getPriceForProductResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ns0:Money"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="orderProductRequest">
      <wsdl:part name="payload" element="ns1:orderProduct"/>
   </wsdl:message>
   <wsdl:message name="orderProductResponse">
      <wsdl:part name="payload" element="tns:orderProductResponse"/>
   </wsdl:message>
   <wsdl:message name="getPriceForProductRequest">
   	<wsdl:part name="parameters" element="ns1:getPriceForProduct"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="getPriceForProductResponse">
   	<wsdl:part name="parameters" element="ns1:getPriceForProductResponse"></wsdl:part>
   </wsdl:message>
   <wsdl:portType name="OrderProcessPortType">
      <wsdl:operation name="orderProduct">
         <wsdl:input message="tns:orderProductRequest"
                     wsaw:Action="http://soa08.se.uni-hannover.de/uebung09/orderProduct"/>
         <wsdl:output message="tns:orderProductResponse"
                      wsaw:Action="http://soa08.se.uni-hannover.de/uebung09/FindBestSupplier/orderProductResponse"/>
      </wsdl:operation>
      <wsdl:operation name="getPriceForProduct">
      	<wsdl:input message="tns:getPriceForProductRequest"></wsdl:input>
      	<wsdl:output message="tns:getPriceForProductResponse"></wsdl:output>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="OrderProcessSOAP11Binding"
   	type="tns:OrderProcessPortType">
   	<soap:binding style="document"
   		transport="http://schemas.xmlsoap.org/soap/http" />
   	<wsdl:operation name="orderProduct">
   		<soap:operation
   			soapAction="http://soa08.se.uni-hannover.de/uebung09/orderProduct" />
   		<wsdl:input>
   			<soap:body use="literal" />
   		</wsdl:input>
   		<wsdl:output>
   			<soap:body use="literal" />
   		</wsdl:output>
   	</wsdl:operation>
   	<wsdl:operation name="getPriceForProduct">
   		<soap:operation
   			soapAction="http://soa08.se.uni-hannover.de/uebung09/getPriceForProduct" />
   		<wsdl:input>
   			<soap:body use="literal" />
   		</wsdl:input>
   		<wsdl:output>
   			<soap:body use="literal" />
   		</wsdl:output>
   	</wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="OrderProcessSOAP12Binding" type="tns:OrderProcessPortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="orderProduct">
         <soap12:operation soapAction="http://soa08.se.uni-hannover.de/uebung09/orderProduct"
                           style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="OrderProcessHttpBinding" type="tns:OrderProcessPortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="orderProduct">
         <http:operation location="OrderProcess/orderProduct"/>
         <wsdl:input>
            <mime:content type="text/xml" part="orderProduct"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="orderProduct"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="OrderProcess">
      <wsdl:port name="OrderProcessSOAP11port_http" binding="tns:OrderProcessSOAP11Binding">
         <soap:address location="http://hobbes.se.uni-hannover.de:8080/ode/processes/OrderProcess"/>
      </wsdl:port>
      <wsdl:port name="OrderProcessSOAP12port_http" binding="tns:OrderProcessSOAP12Binding">
         <soap12:address location="http://hobbes.se.uni-hannover.de:8080/ode/processes/OrderProcess"/>
      </wsdl:port>
      <wsdl:port name="OrderProcessHttpport" binding="tns:OrderProcessHttpBinding">
         <http:address location="http://hobbes.se.uni-hannover.de:8080/ode/processes/OrderProcess"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>