net.bpelunit.framework.client.ant/test/03_SendReceiveAsync/LoanService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://examples.bpelunit.org/LoanService" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://examples.bpelunit.org/LoanService" targetNamespace="http://examples.bpelunit.org/LoanService" name="LoanService">
	<types>
		<schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://examples.bpelunit.org/LoanService" xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="loanApplication" type="s1:LoanApplicationType"/>
			<element name="loanOffer" type="s1:LoanOfferType"/>
			<element name="loan" type="s1:LoanType"/>
			<complexType name="LoanType">
				<sequence>
					<element ref="s1:loanApplication"/>
					<element ref="s1:loanOffer"/>
				</sequence>
			</complexType>
			<complexType name="LoanOfferType">
				<sequence>
					<element name="providerName" type="string"/>
					<element name="selected" type="boolean"/>
					<element name="approved" type="boolean"/>
					<element name="APR" type="double"/>
				</sequence>
			</complexType>
			<complexType name="LoanApplicationType">
				<sequence>
					<element name="SSN" type="string"/>
					<element name="email" type="string"/>
					<element name="customerName" type="string"/>
					<element name="loanAmount" type="double"/>
					<element name="carModel" type="string"/>
					<element name="carYear" type="string"/>
					<element name="creditRating" type="int"/>
				</sequence>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://schemas.xmlsoap.org/ws/2003/03/addressing" schemaLocation="ws-addressing.xsd"/>
		</schema>
	</types>
	<message name="WSAReplyToHeader">
		<part name="ReplyTo" element="wsa:ReplyTo"/>
	</message>
	<message name="WSARelatesToHeader">
		<part name="RelatesTo" element="wsa:RelatesTo"/>
	</message>
	<message name="WSAMessageIDHeader">
		<part name="MessageID" element="wsa:MessageID"/>
	</message>
	<message name="LoanServiceResultMessage">
		<part name="payload" element="tns:loanOffer"/>
	</message>
	<message name="LoanServiceRequestMessage">
		<part name="payload" element="tns:loanApplication"/>
	</message>
	<portType name="LoanServiceCallback">
		<operation name="onResult">
			<input message="tns:LoanServiceResultMessage"/>
		</operation>
	</portType>
	<portType name="LoanService">
		<operation name="initiate">
			<input message="tns:LoanServiceRequestMessage"/>
		</operation>
	</portType>
	<binding name="LoanServiceBinding" type="tns:LoanService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="initiate">
			<soap:operation soapAction="initiate" style="document"/>
			<input>
				<soap:header message="tns:WSAReplyToHeader" part="ReplyTo" use="literal"/>
				<soap:header message="tns:WSAMessageIDHeader" part="MessageID" use="literal"/>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<binding name="LoanServiceCallbackBinding" type="tns:LoanServiceCallback">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="onResult">
			<soap:operation soapAction="onResult" style="document"/>
			<input>
				<soap:header message="tns:WSARelatesToHeader" part="RelatesTo" use="literal"/>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>
	<service name="LoanService">
		<port name="LoanServicePort" binding="tns:LoanServiceBinding">
			<soap:address location="http://localhost:7777/ws/LoanService"/>
		</port>
	</service>
	<service name="LoanServiceCallbackService">
		<port name="LoanServiceCallbackPort" binding="tns:LoanServiceCallbackBinding">
			<soap:address location="http://set.by.caller"/>
		</port>
	</service>
	<plnk:partnerLinkType name="LoanService">
		<plnk:role name="LoanServiceProvider">
			<plnk:portType name="tns:LoanService"/>
		</plnk:role>
		<plnk:role name="LoanServiceRequester">
			<plnk:portType name="tns:LoanServiceCallback"/>
		</plnk:role>
	</plnk:partnerLinkType>
</definitions>
