net.bpelunit.framework/src/main/xsd/ws-humantask.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org/WS-HT"
            blockDefault="#all"
            elementFormDefault="qualified"
            targetNamespace="http://www.example.org/WS-HT">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"
               schemaLocation="http://www.w3.org/2001/xml.xsd"/>

    <!-- base types for extensible elements -->
    <xsd:complexType name="tExtensibleElements">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="documentation" type="tDocumentation"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    <xsd:complexType mixed="true" name="tDocumentation">
        <xsd:sequence>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xsd:sequence>
        <xsd:attribute ref="xml:lang"/>
    </xsd:complexType>
    <xsd:complexType mixed="true" name="tExtensibleMixedContentElements">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="documentation" type="tDocumentation"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>

    <!-- human task definition -->
    <xsd:element name="humanInteractions" type="tHumanInteractions"/>
    <xsd:complexType name="tHumanInteractions">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleElements">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="extensions" type="tExtensions"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="import" type="tImport"/>
                    <xsd:element minOccurs="0" ref="logicalPeopleGroups"/>
                    <xsd:element minOccurs="0" ref="tasks"/>
                    <xsd:element minOccurs="0" ref="notifications"/>
                </xsd:sequence>
                <xsd:attribute name="targetNamespace" type="xsd:anyURI" use="required"/>
                <xsd:attribute name="queryLanguage" type="xsd:anyURI"/>
                <xsd:attribute name="expressionLanguage" type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="tExtensions">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleElements">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="extension" type="tExtension"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="tExtension">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleElements">
                <xsd:attribute name="namespace" type="xsd:anyURI" use="required"/>
                <xsd:attribute name="mustUnderstand" type="tBoolean" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="import" type="tImport"/>
    <xsd:complexType name="tImport">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleElements">
                <xsd:attribute name="namespace" type="xsd:anyURI" use="optional"/>
                <xsd:attribute name="location" type="xsd:anyURI" use="optional"/>
                <xsd:attribute name="importType" type="xsd:anyURI" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="logicalPeopleGroups" type="tLogicalPeopleGroups"/>
    <xsd:complexType name="tLogicalPeopleGroups">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleElements">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="logicalPeopleGroup" type="tLogicalPeopleGroup"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="tLogicalPeopleGroup">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleElements">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tParameter"/>
                </xsd:sequence>
                <xsd:attribute name="name" type="xsd:NCName" use="required"/>
                <xsd:attribute name="reference" type="xsd:QName" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- generic human roles used in tasks and notifications -->
    <xsd:group name="genericHumanRole">
        <xsd:choice>
            <xsd:element ref="potentialOwners"/>
            <xsd:element ref="excludedOwners"/>
            <xsd:element ref="taskInitiator"/>
            <xsd:element ref="taskStakeholders"/>
            <xsd:element ref="businessAdministrators"/>
            <xsd:element ref="recipients"/>
        </xsd:choice>
    </xsd:group>
    <xsd:element name="potentialOwners" type="tGenericHumanRole"/>
    <xsd:element name="excludedOwners" type="tGenericHumanRole"/>
    <xsd:element name="taskInitiator" type="tGenericHumanRole"/>
    <xsd:element name="taskStakeholders" type="tGenericHumanRole"/>
    <xsd:element name="businessAdministrators" type="tGenericHumanRole"/>
    <xsd:element name="recipients" type="tGenericHumanRole"/>
    <xsd:complexType name="tGenericHumanRole">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleElements">
                <xsd:sequence>
                    <xsd:element name="from" type="tFrom"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- elements and types for organizational entities -->
    <xsd:element name="organizationalEntity" type="tOrganizationalEntity"/>
    <xsd:complexType name="tOrganizationalEntity">
        <xsd:choice>
            <xsd:element ref="users"/>
            <xsd:element ref="groups"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:element name="user" type="tUser"/>
    <xsd:simpleType name="tUser">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:element name="users" type="tUserlist"/>
    <xsd:complexType name="tUserlist">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="user"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="group" type="tGroup"/>
    <xsd:simpleType name="tGroup">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:element name="groups" type="tGrouplist"/>
    <xsd:complexType name="tGrouplist">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="group"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- human tasks -->
    <xsd:element name="tasks" type="tTasks"/>
    <xsd:complexType name="tTasks">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleElements">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" ref="task"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="task" type="tTask"/>
    <xsd:complexType name="tTask">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleElements">
                <xsd:sequence>
                    <xsd:element name="interface" type="tTaskInterface"/>
                    <xsd:element minOccurs="0" ref="priority"/>
                    <xsd:element ref="peopleAssignments"/>
                    <xsd:element minOccurs="0" name="delegation" type="tDelegation"/>
                    <xsd:element name="presentationElements" type="tPresentationElements"/>
                    <xsd:element minOccurs="0" name="outcome" type="tQuery"/>
                    <xsd:element minOccurs="0" name="searchBy" type="tExpression"/>
                    <xsd:element minOccurs="0" name="renderings" type="tRenderings"/>
                    <xsd:element minOccurs="0" name="deadlines" type="tDeadlines"/>
                </xsd:sequence>
                <xsd:attribute name="name" type="xsd:NCName" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="priority" type="tPriority"/>
    <xsd:complexType name="tTaskInterface">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleElements">
                <xsd:attribute name="portType" type="xsd:QName" use="required"/>
                <xsd:attribute name="operation" type="xsd:NCName" use="required"/>
                <xsd:attribute name="responsePortType" type="xsd:QName" use="optional"/>
                <xsd:attribute name="responseOperation" type="xsd:NCName" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- presentation elements -->
    <xsd:complexType name="tPresentationElements">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleElements">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="name" type="tText"/>
                    <xsd:element minOccurs="0" name="presentationParameters" type="tPresentationParameters"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="subject" type="tText"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="description" type="tDescription"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="tPresentationParameters">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleElements">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="presentationParameter"
                            type="tPresentationParameter"/>
                </xsd:sequence>
                <xsd:attribute name="expressionLanguage" type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="tPresentationParameter">
        <xsd:complexContent>
            <xsd:extension base="tParameter"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="tRenderings">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleElements">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="rendering" type="tRendering"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <!-- elements for rendering tasks -->
    <xsd:complexType name="tRendering">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleElements">
                <xsd:attribute name="type" type="xsd:QName" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- elements for people assignment -->
    <xsd:element name="peopleAssignments" type="tPeopleAssignments"/>
    <xsd:complexType name="tPeopleAssignments">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleElements">
                <xsd:sequence>
                    <xsd:group maxOccurs="unbounded" minOccurs="0" ref="genericHumanRole"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <!-- elements for handling timeouts and escalation -->
    <xsd:complexType name="tDeadlines">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleElements">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="startDeadline" type="tDeadline"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="completionDeadline" type="tDeadline"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="tDeadline">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleElements">
                <xsd:sequence>
                    <xsd:choice>
                        <xsd:element name="for" type="tDuration-expr"/>
                        <xsd:element name="until" type="tDeadline-expr"/>
                    </xsd:choice>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="escalation" type="tEscalation"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="tEscalation">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleElements">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="condition" type="tBoolean-expr"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="toParts" type="tToParts"/>
                    <xsd:choice>
                        <xsd:element ref="notification"/>
                        <xsd:element name="localNotification" type="tLocalNotification"/>
                        <xsd:element name="reassignment" type="tReassignment"/>
                    </xsd:choice>
                </xsd:sequence>
                <xsd:attribute name="name" type="xsd:NCName" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="tLocalNotification">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleElements">
                <xsd:choice>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="priority"/>
                        <xsd:element minOccurs="0" ref="peopleAssignments"/>
                    </xsd:sequence>
                </xsd:choice>
                <xsd:attribute name="reference" type="xsd:QName" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="tReassignment">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleElements">
                <xsd:sequence>
                    <xsd:element ref="potentialOwners"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="tToParts">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleElements">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="toPart" type="tToPart"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType mixed="true" name="tToPart">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleMixedContentElements">
                <xsd:attribute name="name" type="xsd:NCName" use="required"/>
                <xsd:attribute name="expressionLanguage" type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- task delegation -->
    <xsd:complexType name="tDelegation">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleElements">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="from" type="tFrom"/>
                </xsd:sequence>
                <xsd:attribute name="potentialDelegatees" type="tPotentialDelegatees" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:simpleType name="tPotentialDelegatees">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="anybody"/>
            <xsd:enumeration value="nobody"/>
            <xsd:enumeration value="potentialOwners"/>
            <xsd:enumeration value="other"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- notifications -->
    <xsd:element name="notifications" type="tNotifications"/>
    <xsd:complexType name="tNotifications">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleElements">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" ref="notification"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="notification" type="tNotification"/>
    <xsd:complexType name="tNotification">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleElements">
                <xsd:sequence>
                    <xsd:element name="interface" type="tNotificationInterface"/>
                    <xsd:element minOccurs="0" ref="priority"/>
                    <xsd:element ref="peopleAssignments"/>
                    <xsd:element name="presentationElements" type="tPresentationElements"/>
                    <xsd:element minOccurs="0" name="renderings" type="tRenderings"/>
                </xsd:sequence>
                <xsd:attribute name="name" type="xsd:NCName" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="tNotificationInterface">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleElements">
                <xsd:attribute name="portType" type="xsd:QName" use="required"/>
                <xsd:attribute name="operation" type="xsd:NCName" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- miscellaneous helper types -->
    <xsd:complexType mixed="true" name="tText">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleMixedContentElements">
                <xsd:attribute ref="xml:lang"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType mixed="true" name="tDescription">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleMixedContentElements">
                <xsd:attribute ref="xml:lang"/>
                <xsd:attribute name="contentType" type="xsd:string"/>
                <!-- any MIME type is allowed as value of contentType -->
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType mixed="true" name="tFrom">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleMixedContentElements">
                <xsd:sequence>
                    <xsd:choice>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="argument" type="tArgument"/>
                        <xsd:element minOccurs="0" name="literal" type="tLiteral"/>
                    </xsd:choice>
                </xsd:sequence>
                <xsd:attribute name="expressionLanguage" type="xsd:anyURI"/>
                <xsd:attribute name="logicalPeopleGroup" type="xsd:QName"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="tArgument">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleMixedContentElements">
                <xsd:attribute name="name" type="xsd:NCName"/>
                <xsd:attribute name="expressionLanguage" type="xsd:anyURI"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType mixed="true" name="tParameter">
        <xsd:complexContent>
            <xsd:extension base="tExtensibleMixedContentElements">
                <xsd:attribute name="name" type="xsd:NCName" use="required"/>
                <xsd:attribute name="type" type="xsd:QName" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType mixed="true" name="tLiteral">
        <xsd:sequence>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    <xsd:complexType mixed="true" name="tQuery">
        <xsd:sequence>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xsd:sequence>
        <xsd:attribute name="part"/>
        <xsd:attribute name="queryLanguage" type="xsd:anyURI"/>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    <xsd:complexType mixed="true" name="tExpression">
        <xsd:sequence>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xsd:sequence>
        <xsd:attribute name="expressionLanguage" type="xsd:anyURI"/>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    <xsd:complexType mixed="true" name="tPriority">
        <xsd:complexContent mixed="true">
            <xsd:extension base="tExpression"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType mixed="true" name="tBoolean-expr">
        <xsd:complexContent mixed="true">
            <xsd:extension base="tExpression"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType mixed="true" name="tDuration-expr">
        <xsd:complexContent mixed="true">
            <xsd:extension base="tExpression"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType mixed="true" name="tDeadline-expr">
        <xsd:complexContent mixed="true">
            <xsd:extension base="tExpression"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:simpleType name="tBoolean">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="yes"/>
            <xsd:enumeration value="no"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
