net.bpelunit.framework.control.deploy.activevos9/src/main/xsd/activebpel-deployments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.activebpel.org/logging/2008/06/logging/deployments" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="processLogging" type="dep:processLoggingType" xmlns:dep="http://www.activebpel.org/logging/2008/06/logging/deployments"/>
  <xs:complexType name="processLoggingType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="level"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>