org.bpelunit.framework.client.ant/test/04_DocLitTravelSync/EmployeeDatabase.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.oracle.com/EmployeeDatabase" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:client="http://xmlns.oracle.com/EmployeeDatabase" targetNamespace="http://xmlns.oracle.com/EmployeeDatabase" name="EmployeeDatabase">
	<types>
		<schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/EmployeeDatabase" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:air="http://xmlns.oracle.com/TravelAirlineReservation">
			<include schemaLocation="employee.xsd"/>
			<import namespace="http://xmlns.oracle.com/TravelAirlineReservation" schemaLocation="airline.xsd"/>
			<element name="EmployeeDatabaseProcessRequest" type="client:EmployeeRequestType"/>
			<element name="EmployeeDatabaseProcessResponse" type="client:TravelClassType"/>
		</schema>
	</types>
	<message name="EmployeeDatabaseRequestMessage">
		<part name="payload" element="tns:EmployeeDatabaseProcessRequest"/>
	</message>
	<message name="EmployeeDatabaseResponseMessage">
		<part name="payload" element="tns:EmployeeDatabaseProcessResponse"/>
	</message>
	<portType name="EmployeeDatabase">
		<operation name="process">
			<input message="tns:EmployeeDatabaseRequestMessage"/>
			<output message="tns:EmployeeDatabaseResponseMessage"/>
		</operation>
	</portType>
	<binding name="EmployeeDatabaseBinding" type="tns:EmployeeDatabase">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="process">
			<soap:operation soapAction="process" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="EmployeeDatabase">
		<port name="EmployeeDatabasePort" binding="tns:EmployeeDatabaseBinding">
			<soap:address location="http://localhost:7777/ws/employee"/>
		</port>
	</service>
	<plnk:partnerLinkType name="EmployeeDatabase">
		<plnk:role name="EmployeeDatabaseProvider">
			<plnk:portType name="tns:EmployeeDatabase"/>
		</plnk:role>
	</plnk:partnerLinkType>
</definitions>
