net.bpelunit.framework.control.deploy.activevos9/src/main/resources/wsdl/ActiveBpelDeployBPR.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://docs.active-endpoints/wsdl/activebpeladmin/2007/01/activebpeladmin.wsdl" xmlns:tns1="http://schemas.active-endpoints.com/activebpeladmin/2007/01/activebpeladmin.xsd" xmlns:impl="http://docs.active-endpoints/wsdl/activebpeladmin/2007/01/activebpeladmin.wsdl" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://docs.active-endpoints/wsdl/activebpeladmin/2007/01/activebpeladmin.wsdl">
  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="http://schemas.active-endpoints.com/activebpeladmin/2007/01/activebpeladmin.xsd" xmlns="http://www.w3.org/2001/XMLSchema"> 
   <complexType name="AesDeployBprType"> 
    <sequence> 
     <element name="bprFilename" type="xsd:string"/> 
     <element name="base64File" type="xsd:base64Binary"/> 
    </sequence> 
   </complexType> 
   <element name="deployBprInput" type="tns1:AesDeployBprType"/> 
   <complexType name="AesStringResponseType"> 
    <sequence> 
     <element name="response" type="xsd:string"/> 
    </sequence> 
   </complexType> 
   <element name="deployBprOutput" type="tns1:AesStringResponseType"/> 
  </schema>
  </wsdl:types>
  <wsdl:message name="DeployBprResponse">
    <wsdl:part name="deployBprOutput" element="tns1:deployBprOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeployBprRequest">
    <wsdl:part name="deployBprInput" element="tns1:deployBprInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IAeAxisActiveBpelAdmin">
    <wsdl:operation name="DeployBpr" parameterOrder="deployBprInput">
      <wsdl:input name="DeployBprRequest" message="impl:DeployBprRequest">
    </wsdl:input>
      <wsdl:output name="DeployBprResponse" message="impl:DeployBprResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ActiveBpelAdminPortSoapBinding" type="impl:IAeAxisActiveBpelAdmin">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="DeployBpr">
    <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="DeployBprRequest">
    <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DeployBprResponse">
    <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActiveBpelAdmin">
    <wsdl:port name="ActiveBpelAdminPort" binding="impl:ActiveBpelAdminPortSoapBinding">
    <wsdlsoap:address location="http://localhost:8080/active-bpel/services/ActiveBpelDeployBPR"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
